@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

table thead th {
  font-weight: bold;
  border-bottom: 1px solid black;
}
