@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

table thead th {
  font-weight: bold;
  border-bottom: 1px solid black;
}

a {
  text-decoration: underline;
}

.btn-chuck-outlined {
  @apply btn btn-sm preset-outlined-surface-300-700 shadow;
}
