name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Linux runs on all PRs and pushes to main
  test-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          components: clippy, rustfmt
          cache-workspaces: |
            src-tauri
            chuck-core
            chuck-cli

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            xdg-utils

      - name: Install frontend dependencies
        # TODO refactor tests so tests on Linux use Chromium
        run: |
          npm install
          npx playwright install --with-deps webkit

      - name: Lint and type check
        run: npm run check

      - name: Run tests
        run: npm test

  # macOS and Windows only run on pushes to main
  test-other:
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'mac'
            image: 'macos-latest'
          - os: 'windows'
            image: 'windows-latest'

    runs-on: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          components: clippy, rustfmt
          cache-workspaces: |
            src-tauri
            chuck-core
            chuck-cli

      - name: Install frontend dependencies
        # TODO refactor tests so tests on Windows use Chromium
        run: |
          npm install
          npx playwright install --with-deps webkit

      - name: Run tests
        run: npm test
